{{- $brewPrefix := "/home/linuxbrew/.linuxbrew" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $brewPrefix = "/opt/homebrew" -}}
  {{- else -}}
    {{- $brewPrefix = "/usr/local" -}}
  {{- end -}}
{{- end -}}
{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "personal" "work") "personal" -}}
[data]
brewPrefix = {{ $brewPrefix | quote }}
profile = {{ $profile | quote }}
