{{ if eq .chezmoi.os "darwin" -}}
export SHELL="$HOMEBREW_PREFIX/bin/fish"
{{ else if eq .chezmoi.os "linux" -}}
export SHELL="$(command -v fish)"
{{ end -}}
export TEMP="$TMPDIR"
{{ if eq .chezmoi.os "darwin" -}}
# Gets set by ssh-agent on Linux VMs
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}
eval "$(mise activate bash)"
